  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Open+Sans&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      background: hsl(210, 46%, 95%);
      height: 100vh;
      font-family: 'Manrope', 'Open Sans' sans-serif;
  }

  .card {
      background: #fff;
      border-radius: 10px;
      color: hsl(212, 23%, 69%);
      border-radius: 10px;
      width: 83%;
      min-width: 310px;
  }

  .container {
      height: 100%;
      font-size: 10pt;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .drawer-img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      height: 200px;
  }

  .content {
      padding: 40px 25px 25px 25px;
  }

  .content>h1 {
      line-height: 1.2em;
      font-size: 13pt;
      color:
          /* Very Dark Grayish Blue:*/
          hsl(217, 19%, 35%);
  }

  .content>p {
      line-height: 1.2em;
      padding: 15px 0;

  }

  .card-footer,
  .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
  }

  .off {
      display: none;
  }

  .card-footer figure {
      display: flex;
      align-items: center;
      column-gap: 15px;
  }

  .card-footer figure figcaption strong {
      color:
          /* Very Dark Grayish Blue:*/
          hsl(217, 19%, 35%);
  }

  .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 100px;
  }

  .share {
      padding-right: 20px;
      cursor: pointer;
  }

  .socials {
      border-radius: 0 0 10px 10px;
      padding: 1.4em;
      background:   hsl(217, 19%, 35%);
      margin-top: 0;
  }

  .socials .left {
      display: flex;
      column-gap: 1.7em;
  }

  .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 2;
  }

  .btn img {

      padding: .5em;
      border-radius: 150px;
      background: hsl(212, 23%, 69%);
  }

  @media screen and (min-width: 500px) {
    

      .card {
          max-height: 50%;
          display: grid;
          grid-template-columns: 1.2fr 1.8fr;
          max-width: 700px;
          position: relative;
      }

      .btn {
          display: none;
      }

      .drawer-img {
          height: 100%;
          border-radius: 10px 0 0 10px;
      }

      #socials {

          position: absolute;
          top: 52%;
          right: -10%;
          border-radius: 10px;
          width: 250px; 
          height: 50px;
          justify-content: center;
      }
       .socials .left {
      display: flex;
      column-gap: 1.2em;
  }

      #footer {
          display: flex;
      }
  }